body {
  margin: 0;
  font-family: 'AkzidenzGroteskRegular';
}
@font-face {
  font-family: 'AkzidenzGroteskMedium';
  src: url('/fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'AkzidenzGroteskRegular';
  src: url('/fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'AkzidenzGroteskLight';
  src: url('/fonts/AkzidenzGrotesk-Light.otf') format('opentype');
}
.main {
  width: 100%;
  height: 100vh;
  transform: scale(0.94);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid black;
  box-sizing: border-box;
}
.bpm {
  cursor: ew-resize;
  width: 100%;
  font-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-rendering: optimizelegibility;
  user-select: none;
  letter-spacing: -0.05em;
  flex-grow: 1;
}
.inc-dec {
  display: flex;
  font-family: 'AkzidenzGroteskLight';
  flex-direction: row;
  width: 100%;
  font-size: 5vw;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.inc-dec div {
  height: 20vh;
  border: 1px solid black;
  display: flex;
  width: 33.3333%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.inc-dec div:nth-child(1) {
  border-left: 0px;
}
.inc-dec div:nth-child(2) {
  border-left: 0px;
  border-right: 0px;
}
.controls {
  display: flex;
  width: 100%;
  height: 20vh;
  font-family: 'AkzidenzGroteskLight';
}
.controls .sound {
  width: calc(66.66666667%);
  flex-direction: column;
}
.controls .sound div {
  border: 1px solid black;
  border-width: 0px 0px 1px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.controls .sound div:nth-child(2) {
  border-bottom: none;
}
.controls .mute {
  width: calc(33.33333333%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.clickable {
  cursor: pointer;
  box-sizing: border-box;
}
.clickable:hover {
  background-color: black;
  color: white;
}
