body {
  margin: 0;
  font-family: 'AkzidenzGroteskRegular';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

}



@font-face {
  font-family: 'AkzidenzGroteskMedium';
  src: url('/fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'AkzidenzGroteskRegular';
  src: url('/fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'AkzidenzGroteskLight';
  src: url('/fonts/AkzidenzGrotesk-Light.otf') format('opentype');
}

.bpm {
  font-size: 50vw;
  text-rendering: optimize-legibility;
  user-select: none;
  letter-spacing: -0.05em;
}